@tailwind base;
@tailwind components;
@tailwind utilities;

.section{
  transition: all 1.5s ease-in-out;
}

.doc{
  animation: movingDown 2s alternate ease-in-out;
}

@keyframes movingDown {
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}

.form{
  animation: moveDown 3s alternate ease-in-out;
}

@keyframes moveDown {
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
  
}