@tailwind base;
@tailwind components;
@tailwind utilities;

.section{
  transition: all 1.5s ease-in-out;
}

.doc{
  animation: movingDown 2s alternate ease-in-out;
}

@keyframes movingDown {
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}

.form{
  animation: moveDown 3s alternate ease-in-out;
}

@keyframes moveDown {
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
  
}

.body{
  background-image:linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('/hospitalward.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.emergency{
  background-image:linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('/hospitalward.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.surgical{
  background-image:linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('/surgery.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.care{
  background-image:linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('/care.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.labor{
  background-image:linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('/Labor.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}